[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
seaborn = "*"
networkx = "*"
scipy = "*"
unidecode = "*"
scikit-learn = "*"
nltk = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.11"
