[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
unidecode = "*"
scikit-learn = "*"
nltk = "*"
spacy = "*"
wordcloud = "*"
pyvis = "*"
plotly = "*"
python-louvain = "*"
leidenalg = "*"
networkx = "==3.3"

[dev-packages]

[requires]
python_version = "3.11"
